@model lab.Models.News
@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
};
<div class="main">
    <h1>Add New Offers</h1>
    <div class="content">
        <div id="container">

            @using (Html.BeginForm("addNews", "CarsManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <fieldset>

                    <div class="form">
                            
                        <h3>Car Description</h3>
                        @Html.TextBoxFor(model => model.Description)
                        @Html.ValidationMessageFor(model => model.Description)

                        <h3>Car Image</h3>
                        @*<input type="file" name="Image" src="@Model.Image"/>*@
                        <input type="file" name="Image" id="Image" style="font-family:'Arabic Typesetting'; font-size:large;background-color:dimgray" />
                        @*@Html.ValidationMessageFor(model => model.Image)*@


                    </div>
                    <p>
                        <input class="submit" type="submit" name="submit" id="submit" value="Save" />
                    </p>
                </fieldset>
            }

            <div>
                <a style="margin-left:315px;padding:15px;" href="~/Admin/AdminPanel" name="Back">Back</a>
            </div>
        </div>
    </div>
</div>

