
    <!---start-about--->
    <div class="about">
        <div class="wrap">
            <h5>About us</h5>
            <div class="about-top-pagination">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#"><span>About us</span></a></li>
                </ul>
            </div>
            <div class="about-topgrids">
                <div class="about-topgrid1">
                    <h3>Who We Are</h3>
                    <img src="/images/01.jpg" title="name" />
                    <h4>We are one of the best car seller in pakistan. </h4>
                    <p>We have best Eostic cars.Large number of people prefer our showroom because we have the latest stock. </p>
                    <p>We have a confident team</p>
                    <h4>We are one of the best car seller in pakistan. </h4>
                    <p>We have best Eostic cars.Large number of people prefer our showroom because we have the latest stock. </p>
                    <p>We have a confident team</p>
                    <h4>We are one of the best car seller in pakistan. </h4>
                    <p>We have best Eostic cars.Large number of people prefer our showroom because we have the latest stock. </p>
                    <p>We have a confident team</p>
                    
                </div>
            </div>
            <div class="about-histore">
                <h3>Our History</h3>
                <div class="historey-lines">
                    <ul>
                        <li><span>we started in 2000 &nbsp;-</span></li>
                        <li><p>We have not ever compromise customers satisfection thats why we have less customer switching </p></li>
                        <div class="clear"> </div>
                    </ul>
                </div>
                <div class="historey-lines">
                    <ul>
                        <li><span>we started in 2000 &nbsp;-</span></li>
                        <li><p>We have not ever compromise customers satisfection thats why we have less customer switching </p></li>
                        <div class="clear"> </div>
                    </ul>
                </div>
                <div class="historey-lines">
                    <ul>
                        <li><span>we started in 2000 &nbsp;-</span></li>
                        <li><p>We have not ever compromise customers satisfection thats why we have less customer switching </p></li>
                        <div class="clear"> </div>
                    </ul>
                </div>
                <div class="historey-lines">
                    <ul>
                        <li><span>we started in 2000 &nbsp;-</span></li>
                        <li><p>We have not ever compromise customers satisfection thats why we have less customer switching </p></li>
                        <div class="clear"> </div>
                    </ul>
                </div>
                <div class="historey-lines">
                    <ul>
                        <li><span>we started in 2000 &nbsp;-</span></li>
                        <li><p>We have not ever compromise customers satisfection thats why we have less customer switching </p></li>
                        <div class="clear"> </div>
                    </ul>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="about-services">
                <h3>our services</h3>
                <p>We facilitate our customers by online <b>Booking of latest cars <b> which are small in stock.</p>
                <p>Customers can also Vist our website to know which cars are available.</p>
                <p>Customers can also book cars before the car is available in market.</p>
                <ul>
                    <li><a href="#"><img src="/images/marker1.png">Car Booking<</a></li>
                    <li><a href="#"><img src="/images/marker1.png"> Search car by Brand</a></li>
                    <li><a href="#"><img src="/images/marker1.png"> Search Car by Price</a></li>
                    <li><a href="#"><img src="/images/marker1.png"> Search car by Model</a></li>
                    @*<li><a href="#"><img src="/images/marker1.png"> abore et dolore magna</a></li>
                    <li><a href="#"><img src="/images/marker1.png"> incididunt ut labore et dolore</a></li>
                    <li><a href="#"><img src="/images/marker1.png"> dolore magna aliqua</a></li>
                    <li><a href="#"><img src="/images/marker1.png"> adipisicing elit, sed do eiusmod</a></li>*@
                    <div class="clear"> </div>
                </ul>
            </div>
            <div class="clear"> </div>
            <div class="ourteam">
                <h3>Our Providers </h3>
                <div class="section group">
                    <div class="grid_1_of_4 images_1_of_4">
                        <img src="/images/p2.jpg">

                    </div>
                    <div class="grid_1_of_4 images_1_of_4">
                        <img src="/images/p1.jpg">

                    </div>
                    <div class="grid_1_of_4 images_1_of_4">
                        <img src="/images/p4.png">

                    </div>
                    <div class="grid_1_of_4 images_1_of_4">
                        <img src="/images/p3.jpg">

                    </div>
                </div>
            </div>
        </div>
        <!---end-about--->
        <div class="clear"> </div>
        
