
            <div class="contact">
                <div class="wrap">

                    <h5>contact us</h5>
                    <div class="contact-top-pagination">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#"><span>contact</span></a></li>
                        </ul>
                    </div>
                    <div class="section group">
                        <div class="col span_1_of_3">
                            <div class="company_address">
                                <h3>Company Information :</h3>
                                <p>Location: Lahore Pakistan</p>

                                <p>Phone:(00) 222 666 444</p>
                                <p>Fax: (800) 090 60 50 6</p>
                                <p>Email: <span>syedanoor512@gmail.com</span></p>
                                <p>Follow on: <span>Facebook</span>
                            </div>
                        </div>
                        <div class="col span_2_of_3">
                            <div class="contact-form">
                                <h3>Contact Us</h3>
                                <form action="~/Home/sendMail" method="post">
                                    <div>
                                        <span><label>NAME</label></span>
                                        <span><input type="text" name="name"></span>
                                    </div>
                                    <div>
                                        <span><label>E-MAIL</label></span>
                                        <span><input type="text" name="email"></span>
                                    </div>
                                    @*<div>
                                        <span><label>Message</label></span>
                                        <span><input type="text" name="message"></span>
                                    </div>*@
                                    <div>
                                        <span><label>Message</label></span>
                                        <span><textarea name="message"> </textarea></span>
                                    </div>
                                    <div>
                                        <span><input type="submit" value="Submit"></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---end-contact---->
            <div class="clear"> </div>
