

    <!--start-wrap--->
    <div class="wrap">
       
                <!--start-image-slider---->
        <div>
            <div class='slider'>
                <div class='slide1'></div>
                <div class='slide2'></div>
                <div class='slide3'></div>
            </div>
        </div>
                <div class="image-slider">
                </div>

<!--End-image-slider---->
                <div class="content-top-grids">
                    <div class="section group">
                        <div class="grid_1_of_3 images_1_of_3">
                            <img src="/images/grid-image2.jpg">
                            <h3><span>Car</span>Exchange</h3>
                            <h4>We provide the facility of car exchange</h4>
                            <p>We provide the facility of car exchange</p>
                            <div class="button"><span><a href="~/Home/blog">More</a></span></div>
                        </div>
                        <div class="grid_1_of_3 images_1_of_3">
                            <img src="/images/grid-image1.jpg">
                            <h3><span>Drive</span>lines</h3>
                            <h4>We also have drivelines</h4>
                            <p>We also have drivelines</p>
                            <div class="button mid"><span><a href="~/Home/blog">More</a></span></div>
                        </div>
                        <div class="grid_1_of_3 images_1_of_3">
                            <img src="/images/grid-image3.jpg">
                            <h3><span>Electrical</span>Systems</h3>
                            <h4>We also have Electrical tracking system</h4>
                            <p>we also have electrical tracking system</p>
                                <div class="button last"><span><a href="~/Home/blog">More</a></span></div>
</div>
                    </div>
                </div>
                <div class="content-banner">
                    @*<div class="banner-info">
                        <p><span>ExoticClassic</span>Cars</p>
                        
                    </div>*@
                    <div class="banner-img">
                        <a href="~/Home/gallery"><img src="/images/5.jpg" title="carbanner" /></a>
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
    <div class="banner-link">
        <div class="wrap">
            <div class="bannerlink1">
                
                <div class="clear"> </div>
            </div>
        </div>
    </div>
    <div class="bottom-grids">
        <div class="wrap">
            <div class="bottom-grid1">
                <h3>POPULAR INFO</h3>
                <span>We have any new offers on cars</span>
                <p>We also have LAtest Fabulus cars/p>
                <p>We are the first providers</p>
                <p>We also have LAtest Fabulus cars/p>
                <p>We are the first providers</p>
                <br />

                @*<span>consectetur adipisicing elit, sed do eiusmod tempor</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul>
                    <li><a href="#"><img src="/images/marker1.png"> consectetur adipisicing elit</a></li>
                    <li><a href="#"><img src="/images/marker1.png"> sed do eiusmod tempor incididunt</a></li>
                    <li><a href="#"><img src="/images/marker1.png"> labore et dolore magna aliqua.</a></li>
                    <li><a href="#"><img src="/images/marker1.png"> sed do eiusmod tempor</a></li>
                    <li><a href="#"><img src="/images/marker1.png"> abore et dolore magna</a></li>
                    <li><a href="#"><img src="/images/marker1.png"> incididunt ut labore et dolore</a></li>
                    <li><a href="#"><img src="/images/marker1.png"> dolore magna aliqua</a></li>
                    <li><a href="#"><img src="/images/marker1.png"> adipisicing elit, sed do eiusmod</a></li>
                    
                </ul><br />*@
                <div class="clear"> </div>
                
            </div>
            <div class="bottom-grid2 bottom-mid">
                <h3>Cars for Sale</h3>
                <span>Some of the available cars</span>
                <div class="gallery">
                    <ul>
                        <li><a href="/images/01.jpg"><img src="/images/01.jpg" alt="" /></a></li>
                        <li><a href="/images/03.jpg"><img src="/images/03.jpg" alt="" /></a></li>
                        <li><a href="/images/03.jpg"><img src="/images/03.jpg" alt="" /></a></li>
                        <li><a href="/images/04.jpg"><img src="/images/04.jpg" alt="" /></a></li>
                        <li><a href="/images/05.jpg"><img src="/images/05.jpg" alt="" /></a></li>
                        <li><a href="/images/01.jpg"><img src="/images/01.jpg" alt="" /></a></li>
                        <li><a href="/images/03.jpg"><img src="/images/03.jpg" alt="" /></a></li>
                        <li><a href="/images/03.jpg"><img src="/images/03.jpg" alt="" /></a></li>
                        <li><a href="/images/04.jpg"><img src="/images/04.jpg" alt="" /></a></li>
                        <li><a href="/images/05.jpg"><img src="/images/05.jpg" alt="" /></a></li>
                        <li><a href="/images/04.jpg"><img src="/images/04.jpg" alt="" /></a></li>
                        <li><a href="/images/05.jpg"><img src="/images/05.jpg" alt="" /></a></li>
                        <div class="clear"> </div>
                    </ul><br />
                    
                </div>
            </div>
            <div class="bottom-grid1 bottom-last">
                <h3> for Latest info check News </h3>
                <span>We have any new offers on cars</span>
                <p>We also have LAtest Fabulus cars/p>
                <p>We are the first providers</p>
                <p>We also have LAtest Fabulus cars/p>
                <p>We are the first providers</p>
                <br />
                
            </div>
            <div class="clear"> </div>
        </div>
        @*<div class="footer">
            <div class="wrap">
                <div class="footer-left">
                    <a href="#"><img src="/images/logo1.png" title="logo" /></a>
                </div>
                <div class="footer-right">

                </div>
                <div class="clear"> </div>
            </div>
        </div>*@
        <!--end-wrap--->
    </div>

